<% provide :title, 'Contact' %>
<h1>Contact</h1>
<p>
  Maintained by the In Full Swing webmaster - please contact the webmaster
  at <a href="mailto:webmaster@infullswing.org.au">webmaster@infullswing.org.au</a>
</p>
