<% provide :title, 'All users' %>
<h1>All users</h1>

<table class="users">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Admin</th>
      <th>Librarian</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>
