<% provide :title, 'Sign up' %>
<h1>Join the Library</h1>
<p>
You will shortly be able to join the library. This will allow you to access
the library catalogue list, and if you provide your email address may also
allow some updates to be sent to you.
</p>
