<%# This is meant to mimic the basic form - advanced forms require the new person path %>
<span class="nested-fields">
  <span>
    <%= f.label :pre_names %>
    <%= f.text_field :pre_names %>
  </span>
  <span>
    <%= f.label :key_name %>
    <%= f.text_field :key_name %>
  </span>
</span>
