<div><strong>Publisher</strong></div>
<div class="nested-fields">
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :website %>
    <%= f.text_field :website %>
  </div>
</div>
