<tr>
  <td><%= publisher.name %></td>
  <td><%= link_to publisher.website, publisher.full_url %></td>
  <td class="text-right"><%= publisher.songs_count %></td>
  <%= render 'shared/index_actions', resource: publisher %>
</tr>
