<% provide :title, 'All Publishers' %>
<h1>All Publishers</h1>

<table class="publishers">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Songs</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <%= render @publishers %>
  </tbody>
</table>

<br/>

<%= link_to 'New publisher', new_publisher_path %>
