<% provide :title, 'All Publishers' %>
<h1>All Publishers</h1>

<%= link_to 'New publisher', new_publisher_path %>

<table class="publishers">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <% if current_user.librarian? %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render @publishers %>
  </tbody>
</table>
