<% provide :title, @song_template %>

<p>
  <strong>Name:</strong>
  <%= @song_template.name %>
</p>

<%= render 'song_parts/member_list', resource: @song_template %>

<%= link_to 'Edit', edit_song_template_path(@song_template) %> |
<%= link_to 'Back', song_templates_path %>
