@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

th, td {
	padding: 5px;
}


/* header */

#logo {
	float: left;
	margin-right: 10px;
}

.navbar-inverse {
	background-color: black;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

/* admin */

a.invite {
        font-weight: bold;
	font-size: 16px;
}

/* forms */

div.nested-fields {
	div {
		display:inline-block;
	}
}

fieldset {
	padding-bottom: 15px;
}
