<% provide :title, 'All Instruments' %>

<h1>Instruments</h1>

<table>
  <thead>
    <tr>
      <th class="sortable">Name</th>
      <th class="sortable">Section</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.each do |instrument| %>
      <tr>
        <td><%= instrument.name %></td>
        <td><%= instrument.section %></td>
        <%= render 'shared/index_actions', resource: instrument %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instrument', new_instrument_path %>
